main {
  width: 100%;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin-bottom: 2rem;
  gap: 1rem;
}

main .form input {
  font-size: 1rem;
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(255, 214, 164);
  background: transparent;
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.5rem;
  color: rgb(187, 105, 5);
}

main .form input::placeholder {
  font-size: 0.8rem;
}

main .form button {
  appearance: button;
  outline-color: tomato;
  background-color: rgb(255, 214, 164);
  background-image: none;
  border: 1px solid rgb(187, 105, 5);
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, rgb(187, 105, 5) 4px 4px 0 1px;
  box-sizing: border-box;
  color: rgb(187, 105, 5);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

main .form button:focus {
  text-decoration: none;
}

main .form button:hover {
  text-decoration: none;
}

main .form button:active {
  box-shadow: rgb(187, 105, 5) 0 3px 5px inset;
  outline: 0;
}

main .form button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, rgb(187, 105, 5) 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  main .form button {
    padding: 12px 50px;
  }
}

main .list-container {
  width: 100%;
  max-width: 575px;
}
