* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: rgb(255, 250, 243);
}
#root h1 {
  text-align: center;
  background-color: rgb(255, 214, 164);
  color: rgb(187, 105, 5);
  padding: 1rem;
  margin-bottom: 2rem;
}
